{
    "model": {
        "version":"1.0",
        "padding_eliminate":true,
        "mode":"WC",
        "max_sequence_length": 256,
        "n_classes": 14,
        "vocab_size": 227863 ,
        "emb_size": 128,
        "region_size": 7,
        "hidden_depth": 128,
        "region_merge_fn": "reduce_max",
        "predict": false
    },

    "trainer": {
        "label_data": "data/dbpedia_csv/train.csv.id",
        "dev_data": "data/dbpedia_csv/test.csv.id",
        "test_data": "data/dbpedia_csv/test.csv.id",
        "max_epoch": 20,
        "batch_size": 16,
        "learning_rate": 0.0001,
        "checkpoint_dir": "model/"
    }
}

