{
    "model": {
        "version":"1.0",
        "padding_eliminate":true,
        "mode":"WC",
        "max_sequence_length": 1024,
        "n_classes": 5,
        "vocab_size": 118047,
        "emb_size": 200,
        "win_size": 7,
        "hidden_depth": 200,
        "win_merge_fn": "reduce_max",
        "predict": false
    },

    "trainer": {
        "label_data": "data/yelp_review_full_csv/train.csv.train.id",
        "dev_data": "data/yelp_review_full_csv/train.csv.dev.id",
        "test_data": "data/yelp_review_full_csv/test.csv.id",
        "max_epoch": 20,
        "batch_size": 16,
        "learning_rate": 0.00001,
        "checkpoint_dir": "model/"
    }
}

