{
    "model": {
        "version":"1.0",
        "padding_eliminate":true,
        "mode":"multi_region",
        "max_sequence_length": 1024,
        "n_classes": 5,
        "vocab_size": 124273,
        "emb_size": 128,
        "region_size": 7,
        "region_sizes": [3,5,7],
        "region_sizes_notice":" region_sizes can only make sense when mode is multi_region and then hidden_depth must be equal to emb_size * len(region_sizes)",
        "hidden_depth": 384,
        "region_merge_fn": "reduce_max",
        "predict": false
    },

    "trainer": {
        "label_data": "data/yelp_review_full_csv/train.csv.id",
        "dev_data": "data/yelp_review_full_csv/test.csv.id",
        "test_data": "data/yelp_review_full_csv/test.csv.id",
        "max_epoch": 20,
        "batch_size": 16,
        "learning_rate": 0.0001,
        "checkpoint_dir": "model/"
    }
}

